* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

h1 {
  padding: 2rem 0 1rem 0;
  /* border: 3px solid blue; */
}

/* Score panel */
.score-panel {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(226, 131, 131, 0.6);
  align-items: center;
  margin: 1rem;
  /* border: 3px solid blue; */
  width: 100%;
  height: 4.5rem;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  height: 3rem;
  /* border: 3px solid red; */
}

.icon {
  font-size: 1.5rem;
  background-color: white;
  padding: 0.4rem;
  margin: 0.2rem;
  border-radius: 50%;
  /* border: 3px solid green; */
}

.fa-heart {
  color: red;
}

.fa-star {
  color: orange;
}

/* Character Menu */
#char-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.char {
  height: 6rem;
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999
}

#modal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 1rem;
  align-items: center;
  padding: 20px 30px;
  position: relative;
  min-height: 18rem;
  min-width: 30rem;
  margin: 5% auto;
  z-index: 9999;
}

.is-winner {
  background: rgb(235, 163, 235);
}

.is-loser {
  background: rgb(135, 178, 228)
}

.modal-button {
  background-color:#fff;
  border: none;
  color: #000;
  padding: 0.2rem 0.3rem;
  font-size: 1.3rem;
  border-radius: 5px;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.is-hidden {
  display: none;
}

.jumping{
  animation: animationFrames linear 0.8s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames linear 0.8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames linear 0.8s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames linear 0.8s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames linear 0.8s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes animationFrames{
  0% {
    transform:  translate(0px,0px)  ;
  }
  15% {
    transform:  translate(0px,-25px)  ;
  }
  30% {
    transform:  translate(0px,0px)  ;
  }
  45% {
    transform:  translate(0px,-15px)  ;
  }
  60% {
    transform:  translate(0px,0px)  ;
  }
  75% {
    transform:  translate(0px,-5px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    -moz-transform:  translate(0px,0px)  ;
  }
  15% {
    -moz-transform:  translate(0px,-25px)  ;
  }
  30% {
    -moz-transform:  translate(0px,0px)  ;
  }
  45% {
    -moz-transform:  translate(0px,-15px)  ;
  }
  60% {
    -moz-transform:  translate(0px,0px)  ;
  }
  75% {
    -moz-transform:  translate(0px,-5px)  ;
  }
  100% {
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform:  translate(0px,0px)  ;
  }
  15% {
    -webkit-transform:  translate(0px,-25px)  ;
  }
  30% {
    -webkit-transform:  translate(0px,0px)  ;
  }
  45% {
    -webkit-transform:  translate(0px,-15px)  ;
  }
  60% {
    -webkit-transform:  translate(0px,0px)  ;
  }
  75% {
    -webkit-transform:  translate(0px,-5px)  ;
  }
  100% {
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes animationFrames {
  0% {
    -o-transform:  translate(0px,0px)  ;
  }
  15% {
    -o-transform:  translate(0px,-25px)  ;
  }
  30% {
    -o-transform:  translate(0px,0px)  ;
  }
  45% {
    -o-transform:  translate(0px,-15px)  ;
  }
  60% {
    -o-transform:  translate(0px,0px)  ;
  }
  75% {
    -o-transform:  translate(0px,-5px)  ;
  }
  100% {
    -o-transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    -ms-transform:  translate(0px,0px)  ;
  }
  15% {
    -ms-transform:  translate(0px,-25px)  ;
  }
  30% {
    -ms-transform:  translate(0px,0px)  ;
  }
  45% {
    -ms-transform:  translate(0px,-15px)  ;
  }
  60% {
    -ms-transform:  translate(0px,0px)  ;
  }
  75% {
    -ms-transform:  translate(0px,-5px)  ;
  }
  100% {
    -ms-transform:  translate(0px,0px)  ;
  }
}

/* Instructions */
.instructions {
  background-color: rgba(226, 131, 131, 0.6);
  padding: 1rem;
  margin: 3rem;
  width: 505px;
}

.instructions-header {
  display: flex;
  justify-content: space-between;

}

.instructions-header button {
  display: inline;
  background-color: #fff;
  padding: 0.2rem;
  border: none;
  font-size: 1.5rem;
}

ul {
  list-style: square inside;
  padding: 1rem;
}

ul > :first-child {
  list-style: none;
}

.is-visible {
  display: block;
}

/* Footer */
footer {
  text-align: center;
  font-size: 1.2rem;
}

footer a {
  text-decoration: none;
  cursor: pointer;
}

.fab {
  font-size: 2rem;
  color: #bfbfbf;
  padding: 1rem;
}